{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('logout') }}">Logout</a>

    <h1>Welcome in application!</h1>

    Deposit:
    {{ form_start(depositForm) }}
        {{ form_widget(depositForm) }}

        <input type="submit" class="btn" value="Deposit" />
    {{ form_end(depositForm) }}

{% endblock %}
