{% block body %}
    {% include 'base.html.twig' %}

    <div class="centered_form">
        <h1>User profile data:</h1>

        <p>Name: {{ userProfile.name }}</p>
        <p>Last name: {{ userProfile.lastName }}</p>
        <p>Gender: {{ userProfile.gender }}</p>
        <p>Age: {{ userProfile.age }}</p>
    </div>
{% endblock %}
